.header {
    background-color: darkgray;
}

.header_button {
    display: inline-block;
    margin: 10px 0;
    margin-left: 9.5%;
    background-color: blue;
    padding: 10px;
    border-radius: 20%;
    text-decoration: none;
    color: white;
}

.container {
    margin: 10px;
}